
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida</title>
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
</head>
<body>
    <div class="container">
        <img src="{% static 'myapp/images/logo.png' %}" alt="Logo" class="logo">
        
        {% if user.is_authenticated %}
            <h3>Bienvenido {{ user.username }}</h3>
            <a href="{% url 'home' %}" class="btn">Ingresar</a>
        {% else %}
            <p>Crea tu cuenta, te esperamos</p>
            <a href="{% url 'signup' %}" class="btn">Sign up</a>
            
            <p>Si ya posees una cuenta, ingresa por aca:</p>
            <a href="{% url 'login' %}" class="btn">Login</a>
        {% endif %}
    </div>
</body>
</html>